*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: Poppins;
    box-sizing: border-box;
}
.body {
}

#grid-container {
    display: grid;
    height: 91vh;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    gap: 1px;
    overflow: hidden;
}

#spacebar-note {
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    width: fit-content;
}
.box {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
}
.box-font {
    opacity: 0;
}
.box:hover .box-font {
    opacity: 1;
    transition: opacity 0.5s ease;
}
.first-box {
    grid-row: 1 / 3;
}

.second-box {
    grid-column: 2/3;
}

.third-box {
}

.fourth-box {
}

.fifth-box {
    grid-column: 2/4;
    grid-row: 2/4;
}
.sixth-box {
    grid-row: 2/4;
}
.seventh-box {
    grid-row: 3/5;
}
.eighth-box {
    grid-column: 2/4;
}
.ninth-box {
}

#change-bg {
    cursor: pointer;
}

#footer {
    background-color: red;
    font-size: 24px;
    height: 9vh;
    padding: 7px 0px;
    text-align: center;
}
